*{
	margin:0;
	padding: 0;
	background-repeat: no-repeat;
}

body{ width: 100vw;
      height: 100vh;
	position: relative;
	background-color: darkgrey;
}

.notshowing {
	display: none;
}

.scene {
	width:100%;
	height: 100%;
	position: absolute;
	text-align: center;
}

.scene01 img {
	height: 100%;
}

.scene01 {
	background-color: #3A3939;
	width: 100%;
	height: 100%;
}

.scene1{
}

.bgscene1 {
	position: relative;
	bottom:0;
	left:0;
	width:100%;
	height: 100%;
	background-image: url('scene1.png');
}

.hint1{
	position: absolute;
	top:10%;
	left:10%;
	border-style: 5px solid black;
	background-color: white;
}

.hint1 p{
	padding: 10px;
	margin: 10px;
}

.church_intro{
	position:absolute;
	bottom:0;
	left:32%;
	width:100%;
	height: 100%;
	background-image: url('church_intro.png');
}

.church_intro div{
	position:absolute;
	box-shadow: 0px 0px 47px 36px white;
}

.bells{
	position:absolute;
	bottom:0;
	left:0;
}

.scene2 {
}

.es-dancing {
	position: absolute;
	bottom: 0;
	left:10%;
	width: auto;
	height: auto;
}

.es-standing {
	position: absolute;
	bottom: 0;
	left: 10%;
	height: 75%;
	width: 35%;
	background-image: url('esmeralda-vector2-01.svg');
}

.hint2{
	position: absolute;
	top:50%;
	left:8%;
	border-style: 5px solid black;
	background-color: white;
}

.hint2 p{
	padding: 10px;
	margin: 10px;
}


/*.dancing{
	animation: dance 4s linear forwards;
}
@keyframes dance{

}

.kingoffools{
	position: absolute;
	bottom: 40%;
	left: 20%;
	width: 50%;
	height: 40%;
	background-image: url('quasimodo-esmeralda.svg');
}

.shakingfool{
	position: absolute;
	bottom: 40%;
	left: 20%;
	width: 50%;
	height: 40%;
	background-image: url('quasimodo-walk.gif');
	display: none;
}


.shaking {
	animation: shake 3s 4s linear forwards;
}
@keyframes shake{
	transition: 25% {
        transform: translateX(-10px)
    }
    75% {
        transform: translateX(10px)
    }
}*/

.king{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20%;
	height: 65%;
	background-image:url('king.svg');

}

.audience {
	position:absolute;
	bottom: 0%;
	left: 15%;
	width: 80%;
	height: 30%;
	background-image: url('people.png');
}

.scene3 img{
	width: 100%;
	height: auto;
}

.cross{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20%;
	height: 65%;
	background-image: url('cross.svg');
}

.es-praying{
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 5%;
	height: 10%;
}

.evil_jean{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20%;
	height: 65%;
	background-image: url('jean.svg');
}

.scene3{


}

.hint3{
	position: absolute;
	top:10%;
	left:50%;
	border-style: 5px solid black;
	background-color: white;
}

.hint3 p{
	padding: 10px;
	margin: 10px;
}

.church{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 40%;
	height: 100%;
	background-image:url('church.svg');
}

.hunchback_standing{
	position: absolute;
	bottom: 15%;
	left: 30%;
    height: 20%;
}

.hunchback{
	position: absolute;
	bottom: 15%;
	left: 30%;
    height: 20%;
}

.esmeralda_standing{
	position: absolute;
	bottom: 14%;
	left: 65%;
    height: 30%;
}

.esmeralda{
	position: absolute;
	bottom: 14%;
	left: 65%;
    height: 30%;

}

.scene5 {
	position:relative;
	height: 100%;
	width:auto;
}

.beating {
	position: absolute;
	bottom: 40%;
	right: 25%;
	width: 20%;
}

.hunchbackBeat {
	position: absolute;
	bottom: 40%;
	right: 35%;
	width: 7.5%;
}

.scene6{
	position:relative;
	height: 100%;
	width: auto;
}

.quasimodo {
	background-image: url('quasimodo-dwg.svg');
	background-size: 30% 40%;
	position:absolute;
	top: 250px;
	right: 35%;
	height: 40%
}

.hunchbackLean {
	position: absolute;
	top: 150px;
	left: 30%;
	height: 25%;
}

.es-watering {
	position: absolute;
	top: 150px;
	left: 30%;
	height: 25%;
}

.scene7{

}

.party{
	position:absolute;
	bottom: 0;
	left: 0%;
	width: 100%;
	height: 30%;
	background-color: darkgoldenrod;

}

.scene8{
	background-image: url(scene-8-climax-hanging.svg);
}

.scene9{
	background-image: url(scene-8-climax-hanging.svg);
}

.scene10{
	color: white;
	background-color:black;  /*credits*/
}

.credits{
	position:absolute;
	justify-content: center;
	top: 20%;
	left: 30%;
	display: block;
}

.credits li{
	list-style-type: none;
	color: white;
}

.credits h1 p{
	color:white;
}
